:root{
    --main-font: "Philosopher", serif
}
.rotate-enter-active { animation: 2s rotate reverse; }
.rotate-leave-active { animation: 2s rotate; }

@keyframes rotate {
  0% { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }
  25% { clip-path: polygon(87.5% 12.5%, 87.5% 87.5%, 12.5% 87.5%, 12.5% 12.5%); }
  50% { clip-path: polygon(75% 75%, 25% 75%, 25% 25%, 75% 25%); }
  75% { clip-path: polygon(37.5% 62.5%, 37.5% 37.5%, 62.5% 37.5%, 62.5% 62.5%); }
  100% { clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%); }
}

.speech-bubble{
    position: absolute;
  text-align: center;
  background-color: #5a5a5a;
  color: white;
  border-radius: 20px;
  max-width: 200px;
  padding: 10px;
  left:0;
  top: 0;
  transform: scale(0);
  animation-fill-mode: forwards;
}
.speech-bubble::before{
    content: "";
    display: block;
    width: 0;
    position: absolute;
    border-style: solid;
    border-width: 15px;
    border-color: #5a5a5a transparent transparent #5a5a5a;
}
.speech-bubble.top-right::before{
    top: -25px;
    right: 2px;
    transform: rotate(180deg);
}
.speech-bubble.bottom-right::before{
    bottom: -25px;
    right: 2px;
    transform: rotate(90deg);
}

html, body{
    padding: 0;
    margin: 0;

}
h3{
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--main-font)
}
body{
   
}

.container{
  

}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/images/riho-kroll-m4sGYaHYN5o-unsplash\ 1.png);
    background-size:     cover;            
    background-repeat:   no-repeat;
    background-position: center center;  
    
}
.scene{
    width: 100vw;
    height: 100vw;
}

.homepage{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: 2s rotate reverse;
}

.homepage .title{
    font-family:  "Philosopher", serif;
    width:  50%;
    font-size:  5rem;
    padding: .9rem 2rem;
    background-color: rgba(0, 0, 0, 0.461) ;
    text-align:  center;
    color: #FBE2CB;

}
.homepage p {
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: center;
    color: white;

}

.start-form{
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.start-form input{
    display: block;
    min-width: 243px;
    min-height: 43px;
    text-align: center;
    border-radius: 10px;
    border-color: #41322A;
    
}
.start-form input:focus, .start-form input:active{
    outline: none;
    border: 1px solid #41322A;
}

.start-form button{
    border: 1px solid #41322A;
    background: #41322A;
    margin: 1.5rem 0;
    font-size:  1.2rem;
    padding: 1.1rem 1.6rem;
    font-weight: bold;
    font-family: "Philosopher", sans-serif;
    border-radius: 10px;
    color: white;
    
}



